{% extends "base.html" %}
{% block title %}Labels for printer generator{% endblock %}
{% block label_styles %}static/main-page.css{% endblock %}
{% block content %}

<div class="container">

<h2>Flesh and Blood - Label generator</h2>

<p>
    This tool generates labels for Flesh and Blood cards.
</p>

<script>
function setAllCheckboxes(divId, sourceCheckbox) {
    divElement = document.getElementById(divId);
    inputElements = divElement.getElementsByTagName('input');
    for (i = 0; i < inputElements.length; i++) {
        if (inputElements[i].type != 'checkbox')
            continue;
        inputElements[i].checked = sourceCheckbox.checked;
    }
}

function addCombination() {
    const container = document.getElementById('combinations_container');
    const combinationDiv = document.createElement('div');
    combinationDiv.className = 'dual_class';
    combinationDiv.innerHTML = `
        <table>
            <tbody>
                <tr>
                    <td>
                        <select name="dual_class_1">
                            {% for class in AVAILABLE_CLASSES %}
                                <option value="{{ class }}">{{ class }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="dual_class_2">
                            {% for class in AVAILABLE_CLASSES %}
                                <option value="{{ class }}">{{ class }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <button type="button" onclick="removeCombination(this)">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>      
    `;
    
    // console.log(container.innerHTML);

    // Append the new combination to the container
    container.appendChild(combinationDiv);

    // // Trigger a DOM refresh by dispatching an event
    // const form = document.querySelector('form');
    // const event = new Event('change', { bubbles: true });
    // form.dispatchEvent(event);
}

function removeCombination(button) {
    button.parentElement.parentElement.parentElement.parentElement.parentElement.remove();
}
</script>

<form action="/generated-labels" method="POST" enctype="multipart/form-data">
<table>
    <tr>
        <th>
            List of classes:
        </th>
        <td>
            <p><input onClick="setAllCheckboxes('hero_classes', this);" type="checkbox" />Select All</p>
            <fieldset id="hero_classes">
                {% for class in AVAILABLE_CLASSES %}
                    <input type="checkbox" name="hero_classes" value="{{ class }}">{{ class }}</br>
                {% endfor %}
            </fieldset>
        </td>
    </tr>

    <tr>
        <th>
            Select Label Type:
        </th>
        <td>
            <select name="label_type" width="100px">
                <option value="small_labels_default">Small strip label (default)</option>
                <option value="small_labels_no_date">Small strip label - no date</option>
                <option value="large_labels_basic">Large whole card label</option>
                <option value="large_labels_basic_switched">large-labels-basic-switched</option>
                <option value="narrow_labels_template">narrow-labels-template</option>
                <!-- LABEL_TYPE_COMMENT_TO_MATCH_FOR_SCRIPT -->
            </select>
        </td>
    </tr>

    <tr>
        <th>
            Add dual cards:
        </th>
        <td>
            <div id="combinations_container"></div>
            <button type="button" onclick="addCombination()">Add Combination</button>
        </td>
    </tr>

    <tr>
        <td colspan="2">
            <input type="submit" class="submit" name="submit" value="Generate Labels!"/>
        </td>
    </tr>
</table>
</form>

<h3>Labels Examples</h3>
<div class="flex-container">
    <img src="static/examples/example1.png">
    <img src="static/examples/example2.png">
    <img src="static/examples/example3.png">
    <img src="static/examples/example4.png">
    <img src="static/examples/example5.png">
</div>

<h3>Known issues</h3>
<ul>
    <li>When generating too many labels, some overflow the A4 format and are split in half</li>
</ul>


<div class="footer">
    Source code available on my <a href="https://github.com/valgrut/MagicTGTools/tree/main/mtg-labels">github</a>.
</div>

</div>
{% endblock %}
