{% extends "base.html" %}
{% block title %}Labels for printer generator{% endblock %}
{% block label_styles %}static/main-page.css{% endblock %}
{% block content %}

<div class="container">

<h2>Magic The Gathering - Label generator</h2>

<p>
1. Fill the list of shortcuts of such expansions, you want to generate labels for.
</p>

<p>
2. Select desired options, background, rarity, ...
</p>

<p>
3. Hit Generate and wait!
</p>


<h3>Input Examples</h3>
<ul>
    <li>SNC,VOW,KHM,WAR,GRN</li>
    <li>khm, vow, mid, znr, afr, afr, iko</li>
    <li>thb,  WAR,RNA,Grn, dom , iKo,snc</li>
</ul>

<center>
<p>
Please, be patient - it is slow because the app must download selected expansion symbols.
</p>
</center>

<table>
<form action="/generated-labels" method="POST" enctype="multipart/form-data">
    <tr>
        <th>List of Expansion shortcuts:</th>
        <td>
            <!-- <input type="text" class="symbols" name="expansions_list" value="NEO,VOW,DMU,NCC" size="100"/> -->
            <textarea name="expansions_list" class="symbols" rows="5">NEO, VOW, DMU, NCC, ...</textarea>
        </td>
    </tr>

    <tr>
        <th>
            Select Label Type:
        </th>
        <td>
            <select name="label_type" width="100px">
                <option value="small_labels_default">Small strip label (default)</option>
                <option value="small_labels_no_date">Small strip label - no date</option>
                <option value="large_labels_basic">Large whole card label</option>
                <option value="large_labels_basic_switched">large-labels-basic-switched</option>
                <!-- LABEL_TYPE_COMMENT_TO_MATCH_FOR_SCRIPT -->
            </select>
        </td>
    </tr>

    <tr>
        <th>
            Select Rarity:
        </th>
        <td>
            <select name="label_rarity" width="100px">
                <option value="C" style="color: black;">Common</option>
                <option value="U" style="color: #2596be;">Uncommon</option>
                <option value="R" style="color: gold;">Rare</option>
                <option value="M" style="color: orange;">Mythic</option>
            </select>
        </td>
    </tr>
    <tr>
        <th>
            Select Background Color:
        </th>
        <td>
            <select name="label_background_color">
                <option value="white">No Background (default)</option>
                <option style="background-color: rgba(235,159,130, 1)" value="rgba(235,159,130, 1)">Mountain</option>
                <option style="background-color: rgba(196,211,202, 1)" value="rgba(196,211,202, 1)">Forest</option>
                <option style="background-color: rgba(248,231,185)" value="rgba(248,231,185)">Plains</option>
                <option style="background-color: rgba(166,159,157)" value="rgba(166,159,157)">Swamp</option>
                <option style="background-color: rgba(179,206,234)" value="rgba(179,206,234)">Island</option>
            </select>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <!-- <center> -->
                <input type="submit" class="submit" name="submit" value="Generate Labels!"/>
            <!-- </center> -->
        </td>
    </tr>
</form>
</table>


<h3>Labels Examples</h3>
<div class="flex-container">
    <img src="static/examples/example1.png">
    <img src="static/examples/example2.png">
    <img src="static/examples/example3.png">
    <img src="static/examples/example4.png">
    <img src="static/examples/example5.png">
</div>

</div>

{% endblock %}
