{% extends "base.html" %}
{% block title %}Enjoy Your Labels{% endblock %}
{% block label_styles %}{{ label_css_style }}{% endblock %}
{% block content %}

<div id="flex-container">
    {% for label_data in info_about_selected_labels %}
        <!-- TEMPLATE -->
        <div id="label" class="outline-small" style="background-color: {{ label_background_color }}">
            <div id="label" class="expansionshortcut">
                {{ label_data[0] }}
            </div>
            <div id="label" class="expansion">
                <div id="label" class="expansionname">
                    {{ label_data[1] }}
                </div>
            </div>
            <div id="label" class="icon">
                <!-- <img src="{{url_for('static', filename=label_data[3])}}"> -->
                <img src="{{ label_data[3] }}">
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
